# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates
*.vcxproj.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
restaura.7542d8b8/

# MySQL DLL files (optional - uncomment if you don't want to track these)
# *.dll
# *.pdb

# Compiled Object files
*.obj
*.o
*.lo
*.slo

# Executables
*.exe
*.out
*.app

# Precompiled Headers
*.gch
*.pch

